<%- include("./partials/header.ejs") %>
</head>
<body>

<%- include("./partials/nav.ejs") %> 
<div class="container">
    <div class="body">
        <% if(condition) { %>
            <div class="worldBox">
                <h3 class="country"><%= data.country_name %></h3>
                <ul>
                    <li>Cases - <%= data.cases %></li>
                    <li>Deaths - <%= data.deaths %></li>
                    <li>Recovered - <%= data.total_recovered %></li>
                    <li>New Cases - <%= data.new_cases %></li>
                    <li>New Death - <%= data.new_deaths %></li>
                    <li>Total per minute - <%= data.total_cases_per_1m_population %></li>
                </ul>
            </div>
        <% } else{ %>
            <h2>Country Not found!</h2>
        <% } %>
    </div>
</div>


<%- include("./partials/footer.ejs") %> 